<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
<link type="text/css" href="css/custom.css" rel="stylesheet" />
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
	<h1>El producto se ha añadido correctamente</h1>
	<a href="adminInterface.html">Volver</a>
</div>

</body>

</html>